*{margin:0;padding:0;}
ul,li{list-style-type:none;}
a{color:#333;text-decoration:none;}
a:hover{color:#3366cc;text-decoration:underline;}
.demopage{width:100%;margin:0 auto; padding-top: 7px}
.demopage h2{font-size:14px;margin:20px 0;}
/* scrollDiv */
.scrollDiv{height:25px;/* 必要元素 */line-height:25px;overflow:hidden;/* 必要元素 */}
.scrollDiv li{height:25px;padding-left:10px;}
#s2,#s3{height:50px;}

.logo{
	width:45px; text-align:center; margin:0 auto;
}

.mui-table-view-cell{
	background-color: #FFFFFF;
}
.mui-media-body{
	color: white;
}
.Nine{
	padding-top: 5px;
}
p{
    padding-top:5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.test{
	margin-left: 20px;
}
.newsContent{
	padding: 0 10px 0 10px;
	border-bottom: solid 1px #efeff4;
}

